.body {
    margin: 0;
    display: flex;
    width: 400px;
    height: 300px;
    background: #5DBCF9;
}

* {
    background: #5DBCF9;
}

.main {
    width: 50%;
    position: relative;
    background: #191919;
    overflow: hidden;
}

.d2 {
    width: 44%;
}

.d3 {
    width: 6%;
}

.ctr {
    position: absolute;
    top: 50%;
    left: 50%;
}

.boxc {
    border-radius: 20%;
    height: 50px;
    width: 58px;
    transform: translate(-25px, -50%);
}

.speaker {
    height: 200px;
    width: 200px;
    transform: translate(41px, -50%) rotate(45deg);
}

.circle {
    position: absolute;
    border-radius: 100%;
    background: #191919;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    box-shadow: 0 0 0 10px #5DBCF9, 0 0 0 25px #191919, 0 0 0 35px #5DBCF9, 0 0 0 50px #191919, 0 0 0 60px #5DBCF9
}