.body {
    background: #1A4341;
    width: 400px;
    height: 300px;
    position: relative;
    overflow: hidden;
}

.stripes {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 160px;
    height: 180px;
    background: repeating-linear-gradient(#F3AC3C, #F3AC3C 20px, #1A4341 20px, #1A4341 40px);
}

.circle {
    position: absolute;
    top: 50%;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    background: #1A4341;
}

.c1 {
    transform: translate(-50%, -50%);
}

.c2 {
    transform: translate(80%, -50%);
}